--- CPMG SIMULATION PARAMETERS
-- 'METHOD' == Random walk simulation method ('image-based' (default) or 'histogram')
-- 'OBS_TIME' == Signal observation time in miliseconds
-- 'APPLY_BULK' == Flag to apply bulk relaxation to NMR signal
-- 'TIME_VERBOSE' == Flag to print simulation runtime info
METHOD: image-based
OBS_TIME: 3000.0
APPLY_BULK: false
TIME_VERBOSE: false

--- DIFFUSIVE RELAXATION DUE TO RESIDUAL MAGNETIC FIELD
-- 'RESIDUAL_FIELD' == 'none' (default), 'uniform' (uniform gradient), 'import' (external map))
-- 'GRADIENT_VALUE' == gradient of residual field value at pore phase in T/m. ('uniform' mode)
-- 'GRADIENT_DIRECTION' == direction of uniform gradient of magnetic field. Options: 0 == x, 1 == y or 2 == z; ('uniform' mode)
-- 'PATH_TO_FIELD' == path to field map binary file. (import mode)  
RESIDUAL_FIELD: uniform
GRADIENT_VALUE: 10.0
GRADIENT_DIRECTION: 2
- PATH_TO_FIELD: ${path-to-bin}

--- TIKHONOV REGULARIZATION AND LAPLACE INVERSION PARAMETERS
MIN_T2: 0.1
MAX_T2: 100000.0
USE_T2_LOGSPACE: true
NUM_T2_BINS: 256
MIN_LAMBDA: -4
MAX_LAMBDA: 2
NUM_LAMBDAS: 512
PRUNE_NUM: 0
NOISE_AMP: 0.00

--- CPMG SAVE 
SAVE_MODE: true
SAVE_DECAY: false
SAVE_T2: false
SAVE_WALKERS: false
SAVE_HISTOGRAM: false
SAVE_HISTOGRAM_LIST: false
