--- PFGSE CONFIGURATION
-- PFGSE experiment physical attributes.
-- 'PULSE_WIDTH' == Gradient pulse width in ms
-- 'MAX_GRADIENT' == Magnitude of the magnetic field gradient to be applied in each Cartesian direction {Gx, Gy, Gz} in Gauss/cm
-- 'GRADIENT_SAMPLES' == Number of gradient linearly spaced samples from {0,0,0} to {Gx,Gy,Gz}
-- 'APPLY_BULK' == Flag to apply bulk relaxation to NMR signal
PULSE_WIDTH: 0.1
MAX_GRADIENT: {0.0, 0.0, 1024.0}
GRADIENT_SAMPLES: 256
APPLY_BULK: true
ALLOW_WALKER_SAMPLING: true
APPLY_ABSORPTION: false

--- Time sequence.
-- 'TIME_SEQ' == the type of time sequence to be applied ('manual', linear' or 'log')
-- 'TIME_SAMPLES' == number of time samples
-- if 'TIME_SEQ' = manual: set 'TIME_VALUES' with a list of time samples in ms (e.g. {0.1, 0.5, 2.0})  
-- if 'TIME_SEQ' = linear: set 'TIME_MIN' and 'TIME_MAX' in miliseconds. The program with automatically create 'TIME_SAMPLES' samples linearly spaced within this range 
-- if 'TIME_SEQ' = log: set 'TIME_MIN' and 'TIME_MAX' in logarithmic base. The program with automatically create 'TIME_SAMPLES' samples logarithmic spaced within this range
TIME_SEQ: manual
TIME_SAMPLES: 4
TIME_VALUES: {0.01, 0.1, 1.0, 10.0}
-- TIME_VALUES: {56.0, 63.0, 71.0, 81.0, 92.0, 105.0, 121.0, 139.0, 161.0, 186.0, 216.0, 251.0, 292.0, 340.0, 396.0, 463.0, 541.0, 633.0, 741.0, 867.0, 1016.0}
TIME_MIN: 10.0
TIME_MAX: 800.0

--- Specify inspection length
-- Instead of directly using the time samples, scale them according to the diffusional timescale
-- 'APPLY_INSPECTION_LENGTH': flag to allow inspection length scaling
-- 'INSPECTION_LENGTH': the characteristic length to be inspectioned in micrometers
APPLY_SCALE_FACTOR: false
INSPECTION_LENGTH: 10.0


--- Threshold for PFGSE signal.
-- 'NOISE_AMP' == Applies a white noise with fixed amplitude
-- 'TARGET_SNR' == Target Signal-to-Noise ratio. This method dynamically computes the 'NOISE_AMP' needed to keep SNR stable.  
-- 'THRESHOLD_TYPE' == the type of threshold to be applied ('samples' or 'lhs')
-- 'THRESHOLD_VALUE' == the threshold value to be applied for D(t) recover from the PFGSE signal
- if 'THRESHOLD_TYPE' = samples: integer corresponding to number of samples, 
- if 'THRESHOLD_TYPE' = lhs: float corresponding to maximum signal loss. 
NOISE_AMP: 0.0001
TARGET_SNR: -1.0
THRESHOLD_TYPE: lhs
THRESHOLD_VALUE: 0.9
THRESHOLD_WINDOW: 5


-- PFGSE SAVE. 
SAVE_MODE: true
SAVE_PFGSE: false
SAVE_WALKERS: false
SAVE_HISTOGRAM: false
SAVE_HISTOGRAM_LIST: false