PULSE_WIDTH: 0.1
MAX_GRADIENT: {0.0, 0.0, 100.0}
GRADIENT_SAMPLES: 256
APPLY_BULK: false
ALLOW_WALKER_SAMPLING: true
APPLY_ABSORPTION: false
TIME_SEQ: manual
TIME_SAMPLES: 4
TIME_VALUES: {0.01, 0.1, 1.0, 10.0}
TIME_MIN: 10.0
TIME_MAX: 800.0
APPLY_SCALE_FACTOR: false
INSPECTION_LENGTH: 10.0
NOISE_AMP: 0.0001
TARGET_SNR: -1.0
THRESHOLD_TYPE: lhs
THRESHOLD_VALUE: 0.9
THRESHOLD_WINDOW: 5
SAVE_MODE: true
SAVE_PFGSE: false
SAVE_WALKERS: false
SAVE_HISTOGRAM: false
SAVE_HISTOGRAM_LIST: false