NAME: NMR_TestSimulation
D0: 2.5
GIROMAGNETIC_RATIO: 42.576
GIROMAGNETIC_UNIT: mhertz
BULK_TIME: 2800.0
RHO_TYPE: uniform
RHO: {10.0}
WALKERS: 1000
WALKER_SAMPLES: 1
WALKERS_PLACEMENT: random
PLACEMENT_DEVIATION: 1
STEPS_PER_ECHO: 4
SEED: 43
BC: mirror
SAVE_IMG_INFO: false
SAVE_BINIMG: false
SAVE_WALKERS: false
HISTOGRAMS: 1	
HISTOGRAM_SIZE: 256
HISTOGRAM_SCALE: linear
OPENMP_USAGE: true
OPENMP_THREADS: 4
GPU_USAGE: true
BLOCKS: 4096
THREADSPERBLOCK: 1024
ECHOESPERKERNEL: 16
REDUCE_IN_GPU: true
MAX_RWSTEPS: 65536